.footer-container {
    background-color: gray;
  }
  
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 7em;
    height: 4em;
    margin-left: 1em;
  }
  .logo2 {
    width: 10em;
    height: 4em;
  }
  .logo3 {
    width: 9em;
    height: 4em;
    margin-right: 1em;
  }