.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    background-color: #f2f2f2;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  #logo {
    width: 70px;
    height: 50px;
  }
  
  .name-container {
    display: flex;
    align-items: center;
  }
  
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }